body {
    display: flex;
    flex-direction: column;
    height: 680px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between ;
}

.highScore {
    color: violet;
    padding: 15px;
    border: 1px;
    border-radius: 10px;
    border: 1px solid white;
}

.highScore:hover {
    color: white;
    background: violet;
    border: 1px solid black;
    text-shadow: 0 0 1px black;
  }

.timer {
    color: red;
    padding: 15px;
    margin-right: 30px;
}

main {
    display: flex;
    justify-content: center;
    flex: 1 auto;
}

.quizContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

main h1 {
    font-weight: bold;
    font-size: 2em;
}

main p {
    font-size: 1.7em;
    padding: 5px;
}

.quizContent button {
    width: fit-content;
    color: whitesmoke;
    background-color: darkslateblue;
    border: 1px solid black;
    padding: 15px 25px;
    font-size: 2.5em;
    border-radius: 15px;
}

.quizContent button:hover {
    color: darkslateblue;
    background-color: rgba(72, 61, 139, .4);
}